
<h1>🌴 {{title}} 🌴</h1>

<div *ngIf="!isRoute('/register') && !isRoute('/login')">
  <button mat-raised-button color="primary">
    <a routerLink="dashboard/{{id}}">Dashboard</a>
  </button> 
  <button mat-raised-button color="primary">
    <a routerLink="/wishlist/{{loginId}}">WishList</a>
  </button>
  <button mat-raised-button color="primary">
    <a routerLink="/user-profile/{{id}}">Perfil</a>
  </button>
  <div *ngIf="!isRoute('/cart')&& !isRoute('/checkout')">
    <a class="cart "routerLink="/cart/{{id}}">
      <ul>{{cart.length}}</ul>
      <mat-icon>shopping_cart</mat-icon>
    </a>
  </div>  
</div>  
<router-outlet></router-outlet>
