doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block sidebar
            ul(class='sidebar-nav')
              li
                a(href='/heroes') Heroes
              li
                a(href='/hero') All books
              li
                a(href='/catalog/authors') All authors
              li
                a(href='/catalog/genres') All genres
              li
