<body>
    <div class="checkoutContainer">
        <form action="/checkout" method="POST">
            <h2>Checkout</h2>
            <label for="nif">NIF:</label>
                <input type="number" placeholder="obrigatório*" id="nif" name="nif" required>
        
            <label for="address">Morada:</label>
                <input type="text" placeholder="opcional" id="address" name="address">

            <label for="payment-method" id="payment-method-label">Método de pagamento:</label>
                <select id="payment-method" name="payment-method">
                    <option value="default" selected>Escolha uma opção</option>
                    <option value="credit-card">Cartão de Crédito</option>
                    <option value="paypal">PayPal</option>
                    <option value="apple-pay">Apple Pay</option>
                    <option value="google-pay">Google Pay</option>
                </select>
            <div *ngIf="user" class="submitButts">
                <button type="submit" title="Voltar para o carrinho" routerLink="/cart/{{user.id}}">Voltar atrás</button>
                <button type="submit" title="Finalizar compra" (click)="finalizeBuy()">Finalizar compra</button>
            </div>
        </form>
    </div>
</body>