body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgba(132, 69, 27, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.checkoutContainer {
    width: 70%;
    height: 90%;
    background-color: rgba(164, 90, 40, 0.363);
    border-radius: 20px;
    box-shadow: 0px 10px 20px #1687d933;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
}


h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: rgb(121, 10, 10);
}

label {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"], select {
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background-color: rgba(255, 255, 255, 0.706);
    border-radius: 7px;
}

input[type="text"]:focus, input[type="number"]:focus, select:focus {
    border-bottom-color: rgba(255, 0, 0, 0.387);
}

button[type="submit"] {
    background-color: rgba(121, 10, 10, 0.519);
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: rgba(121, 10, 10, 0.737);
}

#nif::placeholder, #adress::placeholder {
    color: gray;
}

.submitButts {
    justify-items: center;
    align-items: center;
}