<div class="profile">
    <label>User Profile</label>
    <div *ngIf="user">
        <div class="user-profile">
            <div class="profile-header">
              <img src="profile-pic.jpg" alt="User Profile Picture">
              <h2>John Doe</h2>
              <p>john.doe@email.com</p>
            </div>
            <hr>
            <div class="profile-container">
              <div class="profile-numbers">
               <p>50 followers</p>
               <p>43 follows</p>
              </div>
              <hr style="width: 0,1px; height: 40px; display: inline-block;">
              <div class="profile-content">
                <ul>
                  <li><button>
                    <a href="#">My library</a>
                  </button></li>
                  <li><button>
                    <a href="#">Wishlist</a>
                  </button></li>
                  <li><button>
                    <a href="#">My follows</a>
                  </button></li>
                </ul>
              </div>
            </div>
            <button id="follow">Follow</button>
          </div>
</div>
