<div class="profile">
    <label>User Profile</label>
    <div>
        <div class="user-profile">
            <div class="profile-header">
              <img src="{{User.profilepic}}" alt="User Profile Picture">
              <h2>{{User.name}}</h2>
              <p></p>
            </div>
            <hr>
            <div class="profile-container">
              <div class="profile-numbers">
               <p>{{ followers?.length || '0' }} followers</p>
               <p>{{ following?.length || '0' }} follows</p>
              </div>
              <hr style="width: 0,1px; height: 40px; display: inline-block;">
              <div class="profile-content">
                <ul>
                  <li><button (click)="getGamesLibrary(id)">
                    <a href="#">My library</a>
                  </button></li>
                  <li><button>
                    <a href="#">Wishlist</a>
                  </button></li>
                  <li><button (click)="getFollowing(id)">
                    <a href="#">My follows</a>
                  </button></li>
                </ul>
              </div>
            </div>
            <button id="follow">Follow</button>
          </div>
</div>
