<mat-card class="login-card">
    <mat-card-title>Edit</mat-card-title>
    <div class="login-sep">&nbsp;</div>
    <form>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username">
      </mat-form-field>
      <div class="button">
        <button mat-raised-button color="primary" type="submit">Edit</button>
        <button mat-raised-button color="primary" type="submit" routerLink="/user-profile">Go Back</button> 
      </div>
    </form>
</mat-card>
