<div id="rating-window">
    <h2>Your opinion counts!</h2>

    <div id="rating">
      <span class="star" (click)="onStarClick(1)">&#9733;</span>
      <span class="star" (click)="onStarClick(2)">&#9733;</span>
      <span class="star" (click)="onStarClick(3)">&#9733;</span>
      <span class="star" (click)="onStarClick(4)">&#9733;</span>
      <span class="star" (click)="onStarClick(5)">&#9733;</span>
    </div>

    <div>
        <label for="comment">Comment (Optional):</label>
        <input type="text" maxlength="5000" id="comment" name="comment" placeholder="Write your comment here...">
    </div>

    <button id="submit-button" (click)="rate()">Submit</button>
  </div>