<h2>WishList({{wishlist.length}})</h2>
<ul class="my_fav_list">
    <li *ngFor="let game of wishlist" class="my_fav_list_li item">
      
      <a routerLink="/game/{{game.id}}" class="image">
        <img src='{{game.image_p}}' >
      </a>
      <a routerLink="/game/{{game.id}}" class="name">
        <p class="name">{{game.name}}</p>
      </a>
      
      <button type="button" class="delete" title="delete wishlist" (click)="removeWish(game.id);c();refreshPage()"
      *ngIf="check()">X</button>
    </li>
    <li *ngIf="wishlist.length == 0" id="alert">Não existem jogos na sua wishlist!</li>
</ul>
