<div id="search-component" (click)="clickEvent()" >
    <label for="search-box" id="search-label">Procure um jogo 🔍</label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" (blur)="blurEvent()" (focus)="clickEvent()"/>
  
    <ul class="search-result" (blur)="blurEvent()" (focus)="clickEvent()" alt="resultado da pesquisa">
        <div id="show" ng-hide="myVar" >
            <li *ngFor="let game of games$ | async" tabindex="0" (blur)="blurEvent()" (focus)="clickEvent()" (click)="clickEvent()"> 
        <a routerLink="/game/{{game.id}}">
          {{game.name}}
        </a>
      </li>
        <li *ngIf="!b" id="alert">Jogo não encontrado.</li>
      </div>
    </ul>
  </div>
