<body>
  <div class="CartContainer">
    <div class="Header">
      <a routerLink="/dashboard/{{id}}" class="dash">← Dashboard</a>
      <h3 class="Heading">Shopping Cart</h3>
      <h5 class="Action">Remove all</h5>
    </div>
    <div class="Cart-Items">
      <ng-container *ngFor="let game of getCartWithCounts()">
        <li>
          <img src="http://localhost:3078/images/{{game.image_p}}" style="width:100%">
          <a routerLink="/game/{{game.id}}">{{game.name}}</a>
          <span class="type">{{game.type}}</span>
          <div class="counter">
            <div class="btn">+</div>
            <div *ngIf="game.quantity > 1; else showOne" class="count">{{game.quantity}}</div>
            <ng-template #showOne>
              <div class="count">1</div>
            </ng-template>
            <div class="btn">-</div>
          </div>
          <span class="price">{{game.price | currency:'EUR'}}</span>
          <button mat-button class="delete">
            <mat-icon>delete</mat-icon>
          </button>
        </li>
      </ng-container>
    </div>

    <div class="counter">
      <span class="label">Items:</span>
      <span class="value">{{cart.length}}</span>
    </div>
    <div class="prices">
      <div class="subtotal">
        <span class="label">Subtotal:</span>
        <span class="value">{{getSubtotal()}} €</span>
      </div>
      <button type="button" class="checkout" routerLink="/checkout">Checkout</button>
    </div>
  </div>  
</body>