body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border-radius: 20px;

}

header {
  background-color: rgba(157, 64, 2, 0.363);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

h1 {
  color: rgb(121, 10, 10);
  padding-left: 3rem;
  font-size: 45px;
}

nav {
  background-color: #ecf0f1;
  border-bottom: 1px solid #bdc3c7;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 1rem;
}

nav li a {
  text-decoration: none;
  color: #2c3e50;
  padding: 1rem;
}

nav li a:hover {
  background-color: #bdc3c7;
}

main {
  margin: 1rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.menu ul {
  align-items: center;
  padding-left: 20rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: center;
}

.menu li {
  margin-bottom: 0.5rem;
}

.menu button {
  margin-left: 3rem;
  margin-right: 3rem;
  border: none;
  background-color: rgb(157, 64, 2, 0.276);
  color: rgb(121, 10, 10);
  cursor: pointer;
  font-size: 30px;
  text-decoration: solid;
  width: 250px;
  transition: width 0.3s ease-in-out;
}

.menu button.active {
  color: #2c3e50;
  font-weight: bold;
}

.menu button:hover {
  width: 270px;
  background-color: rgba(0, 0, 0, 0.276);
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.content li {
  width: calc(33.333% - 1rem);
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.content img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.content h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.content p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

#dashboardBut {
  position: absolute;
  right: 20px;
  top: 107px;
  border-radius: 2px;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  color: black;
}

#dashboardBut:hover {
  color: #9b7a25ac;
}

#perfil{
  color: black;
  text-decoration: none;

}

#perfil:hover{
  color: rgb(121, 10, 10);
}

.cart {
  position: relative;
  right: 0;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 15px;
  margin-bottom: 10px;
  line-height: 1.6;
  font-size: 24px;
}

.cart mat-icon {
  transform: scale(1.5);
  margin-bottom: 5px;
}

.cart:hover{
  color: rgb(121, 10, 10);
}

.cart ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px; 
}

#nameGame {
  max-width: 400px;
  width: auto;
}

  


