<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
  <body>
    <header>
      <h1 class="dashboard">Dashboard</h1>
    </header>
    <main>
      <div class="menu">
        <ul class="menu2">
          <li class="listas">
            <button class="listasButt" id="listasButt" (click)="getFollowing(); showListas()">Listas</button>
          </li>
          <li class="games">
            <button class="gamesButt" id="gamesButt" (click)="getGamesLibrary(); showGames()">Biblioteca</button>
          </li>
          <li class="following">
            <button class="followingButt" id="followingButt" (click)="getFollowing(); showFollowing()">A seguir</button>
          </li>
          <li class="followers">
            <button class="followersButt" id="followersButt" (click)="getFollowers(); showFollowers()">Seguidores</button>
          </li>
        </ul>
        
        <div class="content">
          <div class="listasList" [hidden]="hideListas">
            <ul *ngIf="user" class="listasButt">
              <li><button routerLink="/wishlist/{{user.id}}">Wishlist</button></li>
            </ul>
          </div>
          <div class="gamesList" [hidden]="hideGames">
            <ng-container *ngIf="games && games.length > 0; else noGames">
              <button class = "sorting" *ngIf="clickedBeforeName==true"  (click) = "sortByName(games)">Sort by Name ⬅</button>
              <button *ngIf="clickedBeforeName==false" class = "sorting" (click) = "sortByName(games)">Sort by Name ➡</button>
              <button class = "sorting" (click) = "sortByDate(games)">Sort by Date</button>
              <ul>
                <li *ngFor="let game of getGamesLibraryWithCounts()">
                  <img class="gameImage" src="{{game.image_p}}" routerLink="/game/{{game.id}}" alt="{{game.name}}" width="2em" height="2em">
                  <h3 id="nameGame">{{game.name}} x{{game.quantity}}</h3>
                  <h3>{{gameToDate(game)}}</h3>
                </li>
              </ul>
            </ng-container>
            <ng-template #noGames>
              <p id="msg">Não tem nenhum jogo na sua biblioteca</p>
            </ng-template>
          </div>          
          <div class="followingList" [hidden]="hideFollowing">
            <ng-container *ngIf="following && following.length > 0; else noFollowing">
              <ul *ngFor="let user of following">
                <li class="userNames" routerLink="/user-profile/{{user.id}}">>{{user.name}}</li>
              </ul>
            </ng-container>
            <ng-template #noFollowing>
              <p id="msg">Não segue ninguém!</p>
            </ng-template>
          </div>
          <div class="followersList" [hidden]="hideFollowers">
            <ng-container *ngIf="followers && followers.length > 0; else noFollowers">
              <ul *ngFor="let user of followers">
                <li class="userNames" routerLink="/user-profile/{{user.id}}">>{{user.name}}</li>
              </ul>
            </ng-container>
            <ng-template #noFollowers>
              <p id="msg">Não tem seguidores!</p>
            </ng-template>
          </div>
        </div>
      </div>
      <app-game-search></app-game-search>
      <app-user-search></app-user-search>
    </main>
  </body>