<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
  <div *ngIf="user">
    <button class="perfilButt" mat-raised-button color="primary" id="dashboardBut"><a id="perfil"
      routerLink="/user-profile/{{user.id}}">Perfil</a></button>
  </div>
  <div *ngIf="user">
    <button class="perfilButt" mat-raised-button color="primary" id="dashboardBut"><a id="wish"
      routerLink="/wishlist">Wishlist</a></button>
  </div>
  <body>
    <header>
      <h1 class="dashboard">Dashboard</h1>
    </header>
    <main>
      <div class="menu">
        <ul>
          <li class="listas"><button class="listasButt" (click)="getFollowing(id); showListas()">Listas</button></li>
          <li class="games"><button  class="gamesButt"(click)="getGamesLibrary(id); showGames()">Games Library</button></li>
          <li class="following"><button  class="followingButt"(click)="getFollowing(id); showFollowing()">A seguir</button></li>
          <li class="followers"><button class="followersButt" (click)="getFollowers(id); showFollowers()">Seguidores</button></li>
        </ul>
        <div class="content">
          <div class="listasList" [hidden]="hideListas">
            <ul *ngIf="games">
              <li *ngFor="let game of games">
                <h3>{{game.name}}</h3>
              </li>
            </ul>
          </div>
          <div class="gamesList" [hidden]="hideGames">
            <ul *ngIf="games">
              <li *ngFor="let game of games">
                <h3>{{game.name}}</h3>
              </li>
            </ul>
          </div>
          <div class="followingList" [hidden]="hideFollowing">
            <ul *ngIf="following">
              <li *ngFor="let user of following">
                <h3>{{user.name}}</h3> {{user.id}}
              </li>
            </ul>
          </div>
          <div class="followersList" [hidden]="hideFollowers">
            <ul *ngIf="followers">
              <li *ngFor="let user of followers">
                <h3>{{user.name}}</h3>{{user.id}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <app-game-search></app-game-search>
    </main>
  </body>