body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border-radius: 20px;

}

header {
  background-color: rgba(157, 64, 2, 0.363);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

h1 {
  color: rgb(121, 10, 10);
  padding-left: 3rem;
  font-size: 45px;
}

nav {
  background-color: #ecf0f1;
  border-bottom: 1px solid #bdc3c7;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 1rem;
}

nav li a {
  text-decoration: none;
  color: #2c3e50;
  padding: 1rem;
}

nav li a:hover {
  background-color: #bdc3c7;
}

main {
  margin: 1rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.menu ul {
  align-items: center;
  padding-left: 20rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;
  justify-content: center;
}

.menu .menu2 li {
  margin-bottom: 0.5rem;
}

.menu2 button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 3rem;
  border: none;
  background-color: rgb(157, 64, 2, 0.276);
  color: rgb(121, 10, 10);
  cursor: pointer;
  font-size: 30px;
  text-decoration: solid;
  width: 90%;
}

@media (max-width: 768px) {
  .menu .menu2{
    flex-direction: column;
  }
  
  .menu .menu2 button {
    margin-right: 0;
    margin-bottom: 1rem;
    width: 100%;
  }
}

.menu .sorting {
  width: 20ex;
  font-size: 15px;
  transition: none;
  margin-bottom: 2vw;
  margin-left: 23px;
}

.menu .sorting:hover {
  width: 20ex;
  background-color: rgba(0, 0, 0, 0.276);
}

.menu .menu2 button:active {
  transform: scale(0.90);
}

.active {
  transform: scale(0.90);
  box-shadow: 0px 0px 10px 0px rgb(121, 10, 10);
}

.menu .menu2 button:hover {
  box-shadow: 0px 0px 10px 0px rgb(121, 10, 10);
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.content li {
  width: calc(33.333% - 1rem);
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.content img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.content h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.content p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

#perfil{
  color: black;
  text-decoration: none;

}

#perfil:hover{
  color: rgb(121, 10, 10);
}

.cart {
  position: relative;
  right: 0;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 15px;
  margin-bottom: 10px;
  line-height: 1.6;
  font-size: 24px;
}

.cart mat-icon {
  transform: scale(1.5);
  margin-bottom: 5px;
}

.cart:hover{
  color: rgb(121, 10, 10);
}

.cart ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px; 
}

#nameGame {
  max-width: 400px;
  width: auto;
}

#msg{
  margin-left: 23px;
}

.userNames {
  display: block;
  font-size: 20px;
  cursor: pointer;
}

.listasButt button:hover {
  box-shadow: 0px 0px 10px 0px rgb(121, 10, 10);
}

.listasButt button {
  font-size: 20px;
  background-color: rgba(157, 64, 2, 0.435);
}

.gameImage {
  cursor: pointer;
}

